em { text-decoration: none; font-weight: bold; font-style: italic; color: #676767; }
span { display: block }
#displayOptions { margin: 15px 25px; }
#taskList { background-color: #F6EDDB; padding: 15px 25px; }
.task { border: 1px solid #AAA; border-radius: 4px; margin: 10px 0px; height: 60px; }
.task .task-column { position: relative; float: left; margin: 5px; }
.task .task-column.name-column { font-size: 30px; padding: 5px 15px; text-transform: uppercase; width: 30%; white-space: nowrap; text-overflow: ellipsis; }
.task .task-column.date-column { font-size: 18px; width: 40%; }
.task .task-column.action-column { padding: 0px 0px;  width: 5%; }
.task .task-column#finish-column { margin-left: 15%; }
.task.past { background-color: #F0DC6B; }
.task.today { background-color: #F0726B; }
.task.tomorrow { background-color: #F0A66B; }
.task.nextWeek, .task.thisWeek, .task.thisMonth, .task.future { background-color: #BDE868; }
.action { height: 50px; width: 50px; cursor: pointer; }
.finish { background: url('/assets/images/checkmark.png') no-repeat; }
.delete { background: url('/assets/images/delete.png') no-repeat; }