<%- title = '<title>To Do - Home</title>' %>
<% if (isLoggedIn) { %>
	<!-- Display the list of tasks here -->
<% } else { %>
	<!-- Display regular login screen, and button to create a new task -->
	<div id="newTask">
		<a href="/newTask">New Task</a>
	</div>
<% } %>
