<!DOCTYPE HTML>
<html lang="en">
  <head>
	<%-title%>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery-ui.js"></script>
	<%-header%>
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css" />
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/pepper-grinder/jquery-ui.css" />
	<%-css%>
    <script>
      $(document).ready(function () { });
    </script>
  </head>
  <body>
	<div id="header">
		<% if (!isLoggedIn) { %>
			<a href="/login">Login</a>
			<a href="/login?register=true">Register</a>
		<% } else { %>
			<a href="/">Logout</a>
			<a href="/newtask">New Task</a>
			<a href="/">Home</a>
		<% } %>
	</div>
	<div id="container">
		<%-body%>
	</div>
  </body>
</html>