<% title = '<title>To Do - Login</title>' %>

<p>Login <br />
<span>If you don't have an account, one will be created for you.</span>
</p>
<form method="post" action="/login">
	<label>User name</label><input type="text" name="user" />
	<label>Password</label><input type="password" name="password" />
	<input type="submit" value="Log In" id="login" />
</form>
